<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" height="100%">
  <form #fileForm="ngForm" (ngSubmit) = "onClickSubmit(fileForm.value)">
    <input type = "text" name = "fileName" placeholder = "File Name" value="https://s3.amazonaws.com/dpublic.mananjadhav.in/Testing_report11.sfdt" ngModel>
    &nbsp;&nbsp;&nbsp;
    <input type = "submit" value = "Import from S3">
  </form>
  <ejs-documenteditorcontainer
    #document_default
    [locale]="culture"
    serviceUrl="https://ej2services.syncfusion.com/production/web-services/api/documenteditor/"
    [enableToolbar]="true" > </ejs-documenteditorcontainer>
</div>



